torch>=2.1.0
torchaudio>=2.1.0
simple-sentencepiece>=0.13
atdataset>=0.1.6
tqdm
huggingface_hub
modelscope
onnx
onnxconverter_common
onnxruntime
kaldifst
kaldialign

# for docs
mkdocs-material>=9.0
mkdocstrings[python]>=0.24
mkdocs-minify-plugin